<ion-view view-title="Stream" class="twitch-wrapper">
      <!--<ion-tabs tabs-type="tabs-icon-only"-->
            <!--tabs-style="tabs-primary">-->
        <!--<ion-tab title="Video" >-->
          <div class="player">
            <iframe frameborder="0" scrolling="no" src="http://www.twitch.tv/rocketbeanstv/embed"></iframe>
          </div>
        <!--</ion-tab>-->
        <!--<ion-tab title="Chat">-->
          <!--<div class="chat">-->
            <!--<iframe frameborder="0" scrolling="no" src="http://twitch.tv/chat/embed?channel=rocketbeanstv&amp;popout_chat=true"></iframe>-->
          <!--</div>-->
        <!--</ion-tab>-->
      <!--</ion-tabs>-->
</ion-view>
