<ion-view view-title="RocketBuddy">

  <ion-content class="content-padding home">
      <ion-refresher
              pulling-text="Herunterziehen zum Aktualisieren"
              on-refresh="doRefresh()">
      </ion-refresher>
      <div class="row responsive-lg twitch-info">
          <div class="col card">
                  <div class="item item-avatar">
                      <h2>Gerade im Stream</h2>
                      <p><strong>{{twitchStream.channel.status}}</strong></p>
                      <p>Spiel: '{{twitchStream.game}}' mit <strong>{{twitchStream.viewers | number}}</strong> Zuschauern!</p>
                  </div>

                  <div class="item item-image">
                      <img ng-src="{{twitchStream.preview.large}}{{imgCacheBreak}}" style="max-width: 640px;">
                  </div>

                  <a class="item item-icon-left assertive" ng-click="watchNow()">
                      <i class="icon ion-play"></i>
                      Jetzt gucken
                  </a>
          </div>
          <div class="col card">
              <a class="twitter-timeline" href="https://twitter.com/TheRocketBeans" data-widget-id="562993813225230337">Tweets von @TheRocketBeans </a>

          </div>

      </div>
  </ion-content>
</ion-view>
