<ion-view view-title="Sendeplan" class="schedule">
  <ion-content>

      <ion-refresher
              pulling-text="Herunterziehen zum Aktualisieren"
              on-refresh="doRefresh()">
      </ion-refresher>

      <div class="container">
        <div ng-repeat="(day, list) in schedule">
          <div class="item item-divider">
            {{day}}
          </div>
          <ion-list>
            <ion-item ng-repeat="item in list" ng-click="showDetail(item)" class="item item-icon-right {{item.class}}" >

              <div class="row">
                <!--<div style="background-image: url({{imageBaseURL}}{{item.showImage}})">-->
                <img ng-show="item.showImage" class="col col-center logo-col show-logo" img-cache ng-src="{{imageBaseURL}}{{item.showImage}}" />
                <div class="col col-center logo-col" ng-hide="item.showImage"></div>
                  <!--</div>-->
                <div class="col info-col">
                  <p class="show">
                    {{item.show}}
                  </p>
                  <p class="time">
                    {{item.start | date:"H:mm"}} Uhr
                  </p>
                </div>
                <div class="col icon-col" ng-show="item.icon">
                  <i class="icon {{item.icon}} item-note"></i>
                </div>
                <!--<span class="item-note">-->
                <!--</span>-->
              </div>

            </ion-item>
          </ion-list>

        </div>
      </div>

  </ion-content>
</ion-view>
