<ion-view view-title="Sendeplan" class="schedule">
  <ion-content>

      <div ng-repeat="(day, list) in schedule">
        <div class="item item-divider">
          {{day}}
        </div>
        <ion-list>
          <ion-item ng-repeat="item in list" href="#/app/show/{{item.show}}" class="item item-icon-left item-icon-right {{item.class}}" >

            <i class="icon {{item.icon}}"></i>
            {{item.show}}
            <span class="item-note">
              {{item.start | date:"H:mm"}} Uhr
            </span>
          </ion-item>
        </ion-list>

      </div>
  </ion-content>
</ion-view>
