<ion-view view-title="App-Info">

  <ion-content class="content-padding impressum">
      <h3>Diese App wird entwickelt von</h3>
      <p class="item">
        <strong>Mathis Neumann</strong><br>
        Marderstieg 9<br>
        25355 Barmstedt<br><br>
        <strong>Kontakt:</strong> {{email}}
      </p>
      <h3>Hinweis</h3>
      <p class="item">
        Die App ist ein inoffizielles Projekt eines engagierten Fans und ist in keinerweise mit der RocketBeans GmbH verbunden.
      </p>


      <p></p>
      <p class="item icon-left">
        <i class="icon ion-ionic" style="font-size: 2em"></i>
        Die App wurde entwickelt mit <a href="http://cordova.apache.org">Apache Cordova</a> & <a href="http://ionicframework.com">ionic</a>
      </p>
  </ion-content>
</ion-view>
